In [78]:

# Libraries

import random
import datetime
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
from pathlib import Path
# import uuid
import servicedt




# Export file variables
output_file = "Mockedup_Member_Detail_" + datetime.now().strftime("%Y%m%d%H%M%S") + ".txt"
output_dir = Path("C:/Users/jisbe/pyproject/member-detail-cost/files")  # specify where you want file to be exported to


# File Variables
first_name = (
 'Abel','Abraham','Abram','Adalberto','Adam','Marcelino','Marcellus','Marcelo','Marco','Jack','Jackie','Jackson','Jacob','Jacques','Shane','Shannon','Shaun','Shawn','Fletcher','Florencio','Florentino','Floyd'
,'Forest','Forrest','Foster','Frances','Francesco','Francis','Dale','Dallas','Dalton','Damian','Damien','Damion','Damon','Dan','Dana','Dane','Danial','Daniel','Danilo','Dannie','Danny','Dante','Darell','Daren'
,'Darin','Dario','Darius','Darnell','Daron','Darrel','Darrell','Darren','Darrick','Darrin','Darron','Darryl','Darwin','Daryl','Dave','Antone','Antonia','Antonio','Antony','Antwan','Archie','Arden','Ariel'
,'Arlen','Arlie','Armand','Armando','Arnold','Arnoldo','Arnulfo','Aron','Arron','Art','Arthur','Arturo','Asa','Ashley','Aubrey','August','Augustine','Augustus','Aurelio','Austin','Avery','Aaron','Abbey'
,'Abbie','Abby','Abigail','Ada','Adah','Adaline','Adam','Addie','Adela','Adelaida','Adelaide','Adele','Adelia','Adelina','Adeline','Adell','Adella','Adelle','Adena','Adina','Adria','Adrian','Adriana','Adriane'
,'Adrianna','Adrianne','Adrien','Adriene','Adrienne','Afton','Agatha','Agnes','Agnus','Agripina','Agueda','Agustina','Ai','Aida','Aide','Aiko','Angelic','Angelica','Angelika','Angelina','Angeline','Angelique','Angelita'
,'Angella','Angelo','Angelyn','Angie','Angila','Angla','Angle','Anglea','Anh','Anika','Anisa','Anisha','Anissa','Anita','Anitra','Anja','Anjanette','Anjelica','Ann','Anna','Annabel','Annabell','Annabelle','Annalee'
,'Annalisa','Annam','Bertie','Beryl','Bess','Bessie','Beth','Bethanie','Bethann','Bethany','Bethel','Betsey','Betsy','Bette','Bettie','Bettina','Betty','Bettyann','Bettye','Beula','Beulah','Bev','Beverlee','Beverley'
,'Beverly','Bianca','Bibi','Billi','Billie','Billy','Billye','Birdie','Birgit','Blair','Hae','Hailey','Haley','Halina','Halley','Hallie','Han','Hana','Hang','Hanh','Hanna','Hannah','Hannelore','Harmony','Harold'
,'Harriet','Harriett','Harriette','Marilee','Marilou','Marilu','Marilyn','Marilynn','Marin','Marina','Marinda','Marine','Mario','Marion','Maris','Marisa','Marisela','Marisha','Marisol','Marissa','Marita','Maritza','Marivel'
,'Marjorie','Marjory','Mark','Marketta','Markita','Marla','Marlana','Marleen','Marlen','Marlena','Roy','Royal','Royce','Ruben','Rubin','Rudolf','Rudolph','Rudy','Rueben','Rufus','Rupert','Russ','Russel','Russell','Rusty','Ryan'
,'Rosia','Rosie','Rosina','Rosio','Rosita','Roslyn','Rossana','Rossie','Rosy','Rowena','Roxana','Roxane','Roxann','Roxanna','Roxanne','Roxie','Roxy','Roy','Royce','Rozanne','Rozella','Rubi','Rubie','Ruby','Rubye','Rudy'
,'Rufina','Russell','Ruth','Rutha','Ruthann','Ruthanne','Ruthe','Ruthie'
)

last_name = (
 'Abraham','Abrams','Abreu','Acevedo','Acker','Ackerman','Acosta','Acuna','Adair','Adam','Adame','Adams','Adamson','Adcock','Addison','Adkins','Adler','Agee','Agnew','Aguiar','Aguilar','Aguilera','Aguirre','Ahern','Berman'
,'Bermudez','Bernal','Bernard','Bernier','Bernstein','Berrios','Berry','Berryman','Bertram','Bertrand','Berube','Bess','Best','Betancourt','Denton','Derr','Derrick','Desantis','Desimone','Devine','Devito','Devlin','Devore'
,'Devrie','Finley','Finn','Finnegan','Finney','Fiore','Fischer','Fish','Fisher','Fishman','Fisk','Fitch','Fite','Fitts','Mccaskill','Mccauley','Mcclain','Mcclanahan','Mcclellan','Mcclelland','Mcclendon','Mcclintock'
,'Mccloskey','Mccloud','Mcclung','Mcclure','Rader','Radford','Rafferty','Ragan','Ragland','Ragsdale','Raines','Rainey','Rains','Raley','Ralph','Ralston','Ramey','Ramirez','Salazar','Salcedo','Salcido','Saldana','Salerno'
,'Sales','Salgado','Salinas','Salisbury','Thornhill','Thornton','Thorpe','Thorton','Ha','Haag','Haas','Hacker','Hackett','Hackney','Hadden','Hadley','Hagan','Hagen','Hager','Haggard','Haggerty','Hahn','Haight','Hailey','Haines'
,'Hairston','Halcomb','Hale','Hales','Haley','Hall','Haller','Hallman','Halsey','Halstead','Halverson','Ham','Hamblin','Hamby','Hamel','Hamer','Hamilton','Hamlin','Hamm','Hammer','Hammett','Hammond','Hammonds','Hammons','Hampton'
,'Hamrick','Han','Hancock','Hand','Handley','Handy','Hanes','Haney','Hankins','Hanks','Hanley','Hanlon','Hanna','Hannah','Hannon','Hansen','Hanson','Harbin','Harden','Harder','Hardesty','Hardin','Harding','Hardison','Hardman'
,'Hardwick','Hardy','Hare','Hargis','Hargrove','Harkins','Harlan','Harley','Harlow','Harman','Harmon','Harms','Harness','Harp','Harper','Harrell','Harrington','Harris','Harrison','Harry','Hart','Harter','Hartley','Hartman'
,'Hartmann','Hartwell','Harvey','Harwell','Harwood','Haskell','Haskins','Hass','Hassell','Hastings','Hatch','Hatcher','Hatchett','Hatfield','Hathaway','Hatley','Hatton','Haugen','Hauser'

)


dob = (
 '1923-03-26','1925-12-29','1962-08-04','1972-05-01','1994-12-16','1912-06-18','1915-11-23','1960-06-03','1976-09-24','1994-03-30','1962-03-07','1962-05-06','1979-01-14','1988-05-26','2007-01-05','1941-09-28','1945-01-27'
,'1955-11-21','1956-08-26','1958-10-23','1960-06-30','1963-11-26','1967-12-11','1968-06-24','1968-12-17','1970-01-21','1972-03-11','1975-03-26','1978-10-11','1980-10-06','1981-05-16','1982-08-11','1984-12-28','1985-01-09'
,'1986-05-06','1986-05-14','2002-05-18','2013-05-09','2015-11-09','2018-02-03','1941-03-12','1941-06-03','1942-04-25','1943-09-10','1950-01-13','1952-09-17','1958-12-11','1974-08-28','1975-03-19','1980-11-14','1981-10-21'
,'1982-09-25','1983-01-26','1983-10-14','1985-08-09','1986-01-06','1986-09-19','1994-03-07','1994-03-18','1994-11-11','1995-12-09','1998-12-11','2005-01-13','2007-07-30','2017-11-02','1950-02-21','1957-08-17','1961-11-04'
,'1963-04-26','1964-01-21','1964-02-24','1967-01-25','1974-04-17','1976-06-15','1978-02-20','1979-06-27','1982-02-16','1982-11-19','1985-06-14','1986-06-08','1991-07-20','1998-10-13','2003-04-20','2004-06-20','2004-12-10'
,'2005-07-08','2006-07-18','2009-05-28','2014-04-19','2016-09-28','1947-02-19','1953-05-08','1959-03-11','1959-06-14','1961-08-18','1963-03-29','1966-04-21','1967-01-21','1968-06-22','1977-10-11','1978-11-12','1979-06-09'
,'1980-08-29','2005-07-18','2008-05-28','2013-04-19','2015-09-28','1946-02-19','1952-05-08','1958-03-11','1958-06-14','1941-08-18','1943-03-29','1946-04-21','1947-01-21','1948-06-22','1947-10-11','1948-11-12','1949-06-09'
,'1954-11-21','1955-08-26','1957-10-23','1961-06-30','1962-11-26','1968-12-11','1967-06-24','1964-12-17','1969-01-21','1971-03-11','1974-03-26','1977-10-11','1981-10-06','1980-05-16','1983-08-11','1989-12-28','1988-01-09'
,'1986-05-07','1986-05-15','2002-05-19','2013-05-10','2015-11-08','2018-02-05','1941-03-13','1941-06-04','1942-04-27','1943-09-11','1950-01-14','1952-09-18','1958-12-12','1974-08-22','1975-03-18','1980-11-15','1981-10-22'
)



batch_id = datetime.now().strftime("%Y%m%d%H%M%S")


range_variable = 10000  # change depending on how many records you want the file to contain


# Randomize variables
random_first_names = [random.choice(first_name) for _ in range(range_variable)]
random_last_names = [random.choice(last_name) for _ in range(range_variable)]
random_dob = [random.choice(dob) for _ in range(range_variable)]
random_service_dt = [random.choice(servicedt.service_dt) for _ in range(range_variable)]
random_batch_id = batch_id



# Create List
data = {'First_Name': random_first_names, 'Last_Name': random_last_names, 'DOB': random_dob, 'Service_DT': random_service_dt, 'FileBatch_ID': random_batch_id
}

# Convert List to Dataframe
df = pd.DataFrame(data)


# Create cost column with random float values
df['Cost'] = np.round(np.random.uniform(1.00, 125.00, size=(len(df), 1)), 2)

df['Member_ID'] = np.random.randint(1000000, 9999999, size=(len(df), 1))

df = df[['Member_ID','First_Name', 'Last_Name', 'DOB', 'Service_DT', 'Cost', 'FileBatch_ID']]

## old way to derive member Id from 1-10000
# df.reset_index(inplace=True)
# df.rename(columns={'index': 'Member_ID'}, inplace=True)

# Output to CSV
output_dir.mkdir(parents=True, exist_ok=True)
df.to_csv(output_dir / output_file, sep='|', index = False)

In [81]:

# Libraries

import random
import datetime
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
from pathlib import Path
# import uuid
import servicedt

# Change these variables to keep static cohort but with different cost and service_dt
cost = 15
days = timedelta(days=15)

# Export file variables
output_file = "Static_Cohort_Member_Detail_" + datetime.now().strftime("%Y%m%d%H%M%S") + ".txt"
output_dir = Path("C:/Users/jisbe/pyproject/member-detail-cost/files")  # specify where you want file to be exported to



# Read extracted file
static_cohort = pd.read_csv('C:/Users/jisbe/pyproject/member-detail-cost/files/Mockedup_Member_Detail_20220930213111_Static.txt', sep= '|')

# Changing date of service by 10 days
static_cohort['Service_DT'] = pd.to_datetime(static_cohort['Service_DT'])
static_cohort['Service_DT'] = static_cohort['Service_DT'] - days

# Changing cost by $1
static_cohort['Cost'] = round(static_cohort['Cost'] + cost, 2)

# Change FileBatch_ID to current time
static_cohort['FileBatch_ID'] = datetime.now().strftime("%Y%m%d%H%M%S")

# Output to CSV
output_dir.mkdir(parents=True, exist_ok=True)
static_cohort.to_csv(output_dir / output_file, sep='|', index = False)

In [67]:
# Changing date of service by 10 days
static_cohort['Service_DT'] = pd.to_datetime(static_cohort['Service_DT'])
static_cohort['Service_DT'] = static_cohort['Service_DT'] - timedelta(days=10)
static_cohort

,Member_ID,First_Name,Last_Name,DOB,Service_DT,Cost,FileBatch_ID
0,0,Darwin,Adkins,1941-06-04,2019-06-03,4.69,20220930215618
1,1,Aubrey,Harley,1945-01-27,2022-07-30,8.50,20220930215618
2,2,Birdie,Aguiar,1984-12-28,2021-03-11,99.55,20220930215618
3,3,Aida,Hammonds,1962-05-06,2021-12-06,91.22,20220930215618
4,4,Bethany,Ahern,1955-11-21,2021-10-29,71.46,20220930215618
...,...,...,...,...,...,...,...
9995,9995,Rosia,Bernard,1958-12-11,2019-08-31,82.40,20220930215618
9996,9996,Danial,Ahern,1974-08-22,2020-09-02,41.53,20220930215618
9997,9997,Adelia,Hastings,2013-05-09,2019-10-29,83.65,20220930215618
9998,9998,Bev,Devlin,1952-09-18,2020-04-12,22.81,20220930215618
9999,9999,Marina,Abreu,1975-03-26,2021-04-02,3.43,20220930215618

In [68]:
# Changing cost by $1
static_cohort['Cost'] = static_cohort['Cost'] + 1
static_cohort

,Member_ID,First_Name,Last_Name,DOB,Service_DT,Cost,FileBatch_ID
0,0,Darwin,Adkins,1941-06-04,2019-06-03,5.69,20220930215618
1,1,Aubrey,Harley,1945-01-27,2022-07-30,9.50,20220930215618
2,2,Birdie,Aguiar,1984-12-28,2021-03-11,100.55,20220930215618
3,3,Aida,Hammonds,1962-05-06,2021-12-06,92.22,20220930215618
4,4,Bethany,Ahern,1955-11-21,2021-10-29,72.46,20220930215618
...,...,...,...,...,...,...,...
9995,9995,Rosia,Bernard,1958-12-11,2019-08-31,83.40,20220930215618
9996,9996,Danial,Ahern,1974-08-22,2020-09-02,42.53,20220930215618
9997,9997,Adelia,Hastings,2013-05-09,2019-10-29,84.65,20220930215618
9998,9998,Bev,Devlin,1952-09-18,2020-04-12,23.81,20220930215618
9999,9999,Marina,Abreu,1975-03-26,2021-04-02,4.43,20220930215618

In [65]:
# Change FileBatch_ID to current time
static_cohort['FileBatch_ID'] = datetime.now().strftime("%Y%m%d%H%M%S")
static_cohort

,Member_ID,First_Name,Last_Name,DOB,Service_DT,Cost,FileBatch_ID
0,0,Darwin,Adkins,1941-06-04,2019-06-13,4.69,20220930215006
1,1,Aubrey,Harley,1945-01-27,2022-08-09,8.50,20220930215006
2,2,Birdie,Aguiar,1984-12-28,2021-03-21,99.55,20220930215006
3,3,Aida,Hammonds,1962-05-06,2021-12-16,91.22,20220930215006
4,4,Bethany,Ahern,1955-11-21,2021-11-08,71.46,20220930215006
...,...,...,...,...,...,...,...
9995,9995,Rosia,Bernard,1958-12-11,2019-09-10,82.40,20220930215006
9996,9996,Danial,Ahern,1974-08-22,2020-09-12,41.53,20220930215006
9997,9997,Adelia,Hastings,2013-05-09,2019-11-08,83.65,20220930215006
9998,9998,Bev,Devlin,1952-09-18,2020-04-22,22.81,20220930215006
9999,9999,Marina,Abreu,1975-03-26,2021-04-12,3.43,20220930215006